DB_URI=de local o uri de Atlas
ADMIN_USERNAME=0N4YQ@example.com
ADMIN_PASSWORD=12345

GOOGLE_CREDENTIALS={"type": "service_account","project_id": "upload-bd-sheets","private_key_id": "----","private_key": "-----"}
