DB_URI=de local o uri de Atlas
ADMIN_USERNAME=user
ADMIN_PASSWORD=12345
SIIF_USERNAME=siif
SIIF_PASSWORD=12345
SSCC_USERNAME=sscc
SSCC_PASSWORD=12345

GOOGLE_CREDENTIALS={"type": "service_account","project_id": "upload-bd-sheets","private_key_id": "----","private_key": "-----"}
